/* This file will hold styles that are loaded using the same media query as the narrow grid. */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/malcolm\/Documents\/Dropbox\/Work\/Ruby\%20Design\/rubydesign\/transparent\/\*\.png}line{font-family:\00003170}}
.transparent-sprite, .transparent-circlearrow, .transparent-drupal, .transparent-email, .transparent-email24, .transparent-free, .transparent-linkedin, .transparent-logo_twitter, .transparent-next, .transparent-prev, .transparent-print, .transparent-quote-after, .transparent-quote-before, .transparent-ruby, .transparent-twitter-2, .transparent-view-link, .transparent-web, .transparent-wordpress, .view-single-case-study .views-field-field-url a:after,
.view-case-studies .views-field-field-url a:after,
.views-field-view-node a:after, div.tweets-pulled-listing a.twitter, .view-service-portfolio .views-field-title a:after, .view-node-tags .views-field-name .Drupal, .view-node-tags .views-field-name .Wordpress, .view-node-tags .views-field-name .Email-Marketing, .view-node-tags .views-field-name .Print, .view-node-tags .views-field-name .Web {
  background: url('../images/transparent-s9cb7d4eeea.png') no-repeat;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/gems\/1\.8\/gems\/compass-0\.12\.1\/frameworks\/compass\/stylesheets\/compass\/utilities\/sprites\/_base\.scss}line{font-family:\0000360}}
.transparent-circlearrow {
  background-position: 0 -380px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/gems\/1\.8\/gems\/compass-0\.12\.1\/frameworks\/compass\/stylesheets\/compass\/utilities\/sprites\/_base\.scss}line{font-family:\0000360}}
.transparent-drupal {
  background-position: 0 -225px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/gems\/1\.8\/gems\/compass-0\.12\.1\/frameworks\/compass\/stylesheets\/compass\/utilities\/sprites\/_base\.scss}line{font-family:\0000360}}
.transparent-email {
  background-position: 0 -366px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/gems\/1\.8\/gems\/compass-0\.12\.1\/frameworks\/compass\/stylesheets\/compass\/utilities\/sprites\/_base\.scss}line{font-family:\0000360}}
.transparent-email24 {
  background-position: 0 -342px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/gems\/1\.8\/gems\/compass-0\.12\.1\/frameworks\/compass\/stylesheets\/compass\/utilities\/sprites\/_base\.scss}line{font-family:\0000360}}
.transparent-free {
  background-position: 0 -48px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/gems\/1\.8\/gems\/compass-0\.12\.1\/frameworks\/compass\/stylesheets\/compass\/utilities\/sprites\/_base\.scss}line{font-family:\0000360}}
.transparent-linkedin {
  background-position: 0 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/gems\/1\.8\/gems\/compass-0\.12\.1\/frameworks\/compass\/stylesheets\/compass\/utilities\/sprites\/_base\.scss}line{font-family:\0000360}}
.transparent-logo_twitter {
  background-position: 0 -197px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/gems\/1\.8\/gems\/compass-0\.12\.1\/frameworks\/compass\/stylesheets\/compass\/utilities\/sprites\/_base\.scss}line{font-family:\0000360}}
.transparent-next {
  background-position: 0 -404px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/gems\/1\.8\/gems\/compass-0\.12\.1\/frameworks\/compass\/stylesheets\/compass\/utilities\/sprites\/_base\.scss}line{font-family:\0000360}}
.transparent-prev {
  background-position: 0 -455px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/gems\/1\.8\/gems\/compass-0\.12\.1\/frameworks\/compass\/stylesheets\/compass\/utilities\/sprites\/_base\.scss}line{font-family:\0000360}}
.transparent-print {
  background-position: 0 -479px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/gems\/1\.8\/gems\/compass-0\.12\.1\/frameworks\/compass\/stylesheets\/compass\/utilities\/sprites\/_base\.scss}line{font-family:\0000360}}
.transparent-quote-after {
  background-position: 0 -296px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/gems\/1\.8\/gems\/compass-0\.12\.1\/frameworks\/compass\/stylesheets\/compass\/utilities\/sprites\/_base\.scss}line{font-family:\0000360}}
.transparent-quote-before {
  background-position: 0 -319px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/gems\/1\.8\/gems\/compass-0\.12\.1\/frameworks\/compass\/stylesheets\/compass\/utilities\/sprites\/_base\.scss}line{font-family:\0000360}}
.transparent-ruby {
  background-position: 0 -249px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/gems\/1\.8\/gems\/compass-0\.12\.1\/frameworks\/compass\/stylesheets\/compass\/utilities\/sprites\/_base\.scss}line{font-family:\0000360}}
.transparent-twitter-2 {
  background-position: 0 -24px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/gems\/1\.8\/gems\/compass-0\.12\.1\/frameworks\/compass\/stylesheets\/compass\/utilities\/sprites\/_base\.scss}line{font-family:\0000360}}
.transparent-view-link {
  background-position: 0 -428px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/gems\/1\.8\/gems\/compass-0\.12\.1\/frameworks\/compass\/stylesheets\/compass\/utilities\/sprites\/_base\.scss}line{font-family:\0000360}}
.transparent-web {
  background-position: 0 -149px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/lib\/gems\/1\.8\/gems\/compass-0\.12\.1\/frameworks\/compass\/stylesheets\/compass\/utilities\/sprites\/_base\.scss}line{font-family:\0000360}}
.transparent-wordpress {
  background-position: 0 -173px;
}

/* colours */
/* fonts */
/* hidden elements on mobile */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/malcolm\/Documents\/Dropbox\/Work\/Ruby\%20Design\/rubydesign\/scss\/rubydesign-alpha-default-narrow\.scss}line{font-family:\0000314}}
.region-sidebar-first,
.view-node-images,
.block-testimonials-block,
.block-views-portfolio-block,
.views-field-field-preview,
.view-single-case-study .views-field-title a,
.view-case-studies .views-field-field-url a,
.views-field-view-node a,
.block-block-1,
.view-node-tags {
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/malcolm\/Documents\/Dropbox\/Work\/Ruby\%20Design\/rubydesign\/scss\/rubydesign-alpha-default-narrow\.scss}line{font-family:\0000318}}
h1 {
  font-size: 2.9em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/malcolm\/Documents\/Dropbox\/Work\/Ruby\%20Design\/rubydesign\/scss\/rubydesign-alpha-default-narrow\.scss}line{font-family:\0000320}}
h1 span {
  padding-top: 32px;
  line-height: inherit;
  margin-bottom: 40px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/malcolm\/Documents\/Dropbox\/Work\/Ruby\%20Design\/rubydesign\/scss\/rubydesign-alpha-default-narrow\.scss}line{font-family:\0000327}}
.divider {
  background: url(../images/dividerstripe.png) no-repeat;
  height: 40px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/malcolm\/Documents\/Dropbox\/Work\/Ruby\%20Design\/rubydesign\/scss\/rubydesign-alpha-default-narrow\.scss}line{font-family:\0000332}}
.zone-branding .region-branding.grid-12 {
  padding: 10px 20px;
  margin: 0;
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/malcolm\/Documents\/Dropbox\/Work\/Ruby\%20Design\/rubydesign\/scss\/rubydesign-alpha-default-narrow\.scss}line{font-family:\0000337}}
.branding-data {
  margin-top: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/malcolm\/Documents\/Dropbox\/Work\/Ruby\%20Design\/rubydesign\/scss\/rubydesign-alpha-default-narrow\.scss}line{font-family:\0000339}}
.branding-data .logo-img {
  margin: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/malcolm\/Documents\/Dropbox\/Work\/Ruby\%20Design\/rubydesign\/scss\/rubydesign-alpha-default-narrow\.scss}line{font-family:\0000342}}
.branding-data img {
  width: auto;
  margin: 10px 0 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/malcolm\/Documents\/Dropbox\/Work\/Ruby\%20Design\/rubydesign\/scss\/rubydesign-alpha-default-narrow\.scss}line{font-family:\0000347}}
.block-main-menu ul li {
  float: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/malcolm\/Documents\/Dropbox\/Work\/Ruby\%20Design\/rubydesign\/scss\/rubydesign-alpha-default-narrow\.scss}line{font-family:\0000351}}
.section-header .zone-header.container-12 .grid-12 {
  width: 720px;
}

/* case study block */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/malcolm\/Documents\/Dropbox\/Work\/Ruby\%20Design\/rubydesign\/scss\/rubydesign-alpha-default-narrow\.scss}line{font-family:\0000357}}
.block-single-case-study-block-1,
.view-case-studies .left {
  width: 300px;
  float: left;
  background: #000;
  color: #fff;
  margin-left: 0;
  padding-left: 10px;
  padding: 20px;
  position: relative;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/malcolm\/Documents\/Dropbox\/Work\/Ruby\%20Design\/rubydesign\/scss\/rubydesign-alpha-default-narrow\.scss}line{font-family:\0000364}}
.left,
.block-single-case-study-block-1,
.block-views-testimonials-block,
.view-case-studies {
  height: 232px;
  position: static;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/malcolm\/Documents\/Dropbox\/Work\/Ruby\%20Design\/rubydesign\/scss\/rubydesign-alpha-default-narrow\.scss}line{font-family:\0000369}}
.view-case-studies .views-field-field-url a {
  left: 160px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/malcolm\/Documents\/Dropbox\/Work\/Ruby\%20Design\/rubydesign\/scss\/rubydesign-alpha-default-narrow\.scss}line{font-family:\0000372}}
.right {
  float: left;
  width: 420px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/malcolm\/Documents\/Dropbox\/Work\/Ruby\%20Design\/rubydesign\/scss\/rubydesign-alpha-default-narrow\.scss}line{font-family:\0000375}}
.right img {
  width: 400px;
  height: 232px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/malcolm\/Documents\/Dropbox\/Work\/Ruby\%20Design\/rubydesign\/scss\/rubydesign-alpha-default-narrow\.scss}line{font-family:\0000383}}
.view-single-case-study .views-field-field-url a,
.view-case-studies .views-field-field-url a,
.views-field-view-node a {
  width: 130px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/malcolm\/Documents\/Dropbox\/Work\/Ruby\%20Design\/rubydesign\/scss\/rubydesign-alpha-default-narrow\.scss}line{font-family:\0000386}}
.views-field-field-preview {
  font-family: Arial, sans-serif;
  font-size: 1.2em;
  line-height: 140%;
}

/* links to project and site */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/malcolm\/Documents\/Dropbox\/Work\/Ruby\%20Design\/rubydesign\/scss\/rubydesign-alpha-default-narrow\.scss}line{font-family:\0000392}}
.view-single-case-study .views-field-title a,
.view-case-studies .views-field-title a {
  font-family: Georgia, serif;
  background: none;
  display: block;
  top: 20px;
  font-size: 1.42em;
  font-family: Georgia, serif;
  font-weight: 700;
  color: #FFF;
  padding: 0;
  position: static;
  top: 0;
  left: 0;
  text-transform: uppercase;
  width: 280px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/malcolm\/Documents\/Dropbox\/Work\/Ruby\%20Design\/rubydesign\/scss\/_base\.scss}line{font-family:\0000355}}
.view-single-case-study .views-field-title a:after,
.view-case-studies .views-field-title a:after {
  content: '';
  background: none;
  display: inline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/malcolm\/Documents\/Dropbox\/Work\/Ruby\%20Design\/rubydesign\/scss\/rubydesign-alpha-default-narrow\.scss}line{font-family:\0000399}}
.view-single-case-study .views-field-field-url a,
.view-case-studies .views-field-field-url a,
.views-field-view-node a {
  background: #bf0c2c;
  display: block;
  padding: 8px 30px 5px 5px;
  font-family: Arial, sans-serif;
  font-size: 1em;
  line-height: 1em;
  font-weight: 600;
  height: 27px;
  position: absolute;
  color: #FFF;
  text-transform: uppercase;
  z-index: 999;
  bottom: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/malcolm\/Documents\/Dropbox\/Work\/Ruby\%20Design\/rubydesign\/scss\/_base\.scss}line{font-family:\0000392}}
.view-single-case-study .views-field-field-url a:after,
.view-case-studies .views-field-field-url a:after,
.views-field-view-node a:after {
  background-position: 0 -428px;
  content: ' ';
  width: 27px;
  height: 27px;
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/malcolm\/Documents\/Dropbox\/Work\/Ruby\%20Design\/rubydesign\/scss\/rubydesign-alpha-default-narrow\.scss}line{font-family:\00003104}}
div.tweets-pulled-listing a {
  color: #bf0c2c;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/malcolm\/Documents\/Dropbox\/Work\/Ruby\%20Design\/rubydesign\/scss\/rubydesign-alpha-default-narrow\.scss}line{font-family:\00003106}}
div.tweets-pulled-listing a.twitter {
  background-position: 0 -197px;
  width: 150px;
  height: 28px;
  text-indent: -9999px;
  display: block;
  margin-bottom: 20px;
}

/* contact details */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/malcolm\/Documents\/Dropbox\/Work\/Ruby\%20Design\/rubydesign\/scss\/rubydesign-alpha-default-narrow\.scss}line{font-family:\00003115}}
.block-block-4 {
  margin: 0 0 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/malcolm\/Documents\/Dropbox\/Work\/Ruby\%20Design\/rubydesign\/scss\/rubydesign-alpha-default-narrow\.scss}line{font-family:\00003118}}
.block-block-4 a {
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/malcolm\/Documents\/Dropbox\/Work\/Ruby\%20Design\/rubydesign\/scss\/rubydesign-alpha-default-narrow\.scss}line{font-family:\00003121}}
.block-block-4 .social {
  margin-bottom: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/malcolm\/Documents\/Dropbox\/Work\/Ruby\%20Design\/rubydesign\/scss\/rubydesign-alpha-default-narrow\.scss}line{font-family:\00003125}}
.phone {
  float: left;
  margin: 4px 8px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/malcolm\/Documents\/Dropbox\/Work\/Ruby\%20Design\/rubydesign\/scss\/rubydesign-alpha-default-narrow\.scss}line{font-family:\00003129}}
.mail {
  margin: 4px 8px;
}

/* contact form */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/malcolm\/Documents\/Dropbox\/Work\/Ruby\%20Design\/rubydesign\/scss\/rubydesign-alpha-default-narrow\.scss}line{font-family:\00003134}}
.page-node-29 .block-main, .page-node-29 .block-contact-form-blocks {
  float: left;
  width: 300px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/malcolm\/Documents\/Dropbox\/Work\/Ruby\%20Design\/rubydesign\/scss\/rubydesign-alpha-default-narrow\.scss}line{font-family:\00003143}}
.block-contact-form-blocks .form-text, .block-contact-form-blocks .form-textarea, .block-contact-form-blocks .grippie {
  width: 260px;
}

/* portfolio */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/malcolm\/Documents\/Dropbox\/Work\/Ruby\%20Design\/rubydesign\/scss\/rubydesign-alpha-default-narrow\.scss}line{font-family:\00003151}}
.view-portfolio .views-row {
  float: left;
  width: 240px;
  min-width: 240px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/malcolm\/Documents\/Dropbox\/Work\/Ruby\%20Design\/rubydesign\/scss\/rubydesign-alpha-default-narrow\.scss}line{font-family:\00003156}}
.view-portfolio img {
  width: 210px;
  height: 124px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/malcolm\/Documents\/Dropbox\/Work\/Ruby\%20Design\/rubydesign\/scss\/rubydesign-alpha-default-narrow\.scss}line{font-family:\00003160}}
.view-portfolio .views-field-field-image-portfolio {
  margin: 10px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/malcolm\/Documents\/Dropbox\/Work\/Ruby\%20Design\/rubydesign\/scss\/rubydesign-alpha-default-narrow\.scss}line{font-family:\00003163}}
.view-portfolio .views-field-title a {
  margin-left: 15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/malcolm\/Documents\/Dropbox\/Work\/Ruby\%20Design\/rubydesign\/scss\/rubydesign-alpha-default-narrow\.scss}line{font-family:\00003168}}
.view-portfolio .views-slideshow-cycle-main-frame-row-item.views-row-0 .views-field-field-image-portfolio {
  margin-left: 30px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/malcolm\/Documents\/Dropbox\/Work\/Ruby\%20Design\/rubydesign\/scss\/rubydesign-alpha-default-narrow\.scss}line{font-family:\00003171}}
.view-portfolio .views-slideshow-cycle-main-frame-row-item.views-row-0 .views-field-title a {
  margin-left: 30px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/malcolm\/Documents\/Dropbox\/Work\/Ruby\%20Design\/rubydesign\/scss\/rubydesign-alpha-default-narrow\.scss}line{font-family:\00003176}}
.view-portfolio .views-slideshow-cycle-main-frame-row-item.views-row-2 .views-field-field-image-portfolio {
  margin-left: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/malcolm\/Documents\/Dropbox\/Work\/Ruby\%20Design\/rubydesign\/scss\/rubydesign-alpha-default-narrow\.scss}line{font-family:\00003180}}
.view-portfolio .views-slideshow-cycle-main-frame-row-item.views-row-2 img,
.view-portfolio .views-slideshow-cycle-main-frame-row-item.views-row-2 .views-field-title a {
  margin-left: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/malcolm\/Documents\/Dropbox\/Work\/Ruby\%20Design\/rubydesign\/scss\/rubydesign-alpha-default-narrow\.scss}line{font-family:\00003186}}
.block-views-portfolio-block-1 {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/malcolm\/Documents\/Dropbox\/Work\/Ruby\%20Design\/rubydesign\/scss\/rubydesign-alpha-default-narrow\.scss}line{font-family:\00003191}}
.page-node-7 .block-main {
  width: 45%;
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/malcolm\/Documents\/Dropbox\/Work\/Ruby\%20Design\/rubydesign\/scss\/rubydesign-alpha-default-narrow\.scss}line{font-family:\00003195}}
.page-node-7 h1 {
  width: 55%;
  float: left;
  padding: 10px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/malcolm\/Documents\/Dropbox\/Work\/Ruby\%20Design\/rubydesign\/scss\/rubydesign-alpha-default-narrow\.scss}line{font-family:\00003201}}
.page-node-7 .zone-content .region-content {
  /*    margin: 20px 0;*/
  padding: 20px 20px 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/malcolm\/Documents\/Dropbox\/Work\/Ruby\%20Design\/rubydesign\/scss\/rubydesign-alpha-default-narrow\.scss}line{font-family:\00003208}}
.page-portfolio-service h1 {
  margin-left: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/malcolm\/Documents\/Dropbox\/Work\/Ruby\%20Design\/rubydesign\/scss\/rubydesign-alpha-default-narrow\.scss}line{font-family:\00003211}}
.page-portfolio-service #region-content {
  margin: 0;
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/malcolm\/Documents\/Dropbox\/Work\/Ruby\%20Design\/rubydesign\/scss\/rubydesign-alpha-default-narrow\.scss}line{font-family:\00003217}}
.view-service-portfolio div {
  float: left;
  clear: right;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/malcolm\/Documents\/Dropbox\/Work\/Ruby\%20Design\/rubydesign\/scss\/rubydesign-alpha-default-narrow\.scss}line{font-family:\00003221}}
.view-service-portfolio .views-row {
  padding: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/malcolm\/Documents\/Dropbox\/Work\/Ruby\%20Design\/rubydesign\/scss\/rubydesign-alpha-default-narrow\.scss}line{font-family:\00003225}}
.view-service-portfolio img {
  margin: 0 20px 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/malcolm\/Documents\/Dropbox\/Work\/Ruby\%20Design\/rubydesign\/scss\/rubydesign-alpha-default-narrow\.scss}line{font-family:\00003229}}
.view-service-portfolio .views-field-title {
  height: 40px;
  width: 400px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/malcolm\/Documents\/Dropbox\/Work\/Ruby\%20Design\/rubydesign\/scss\/rubydesign-alpha-default-narrow\.scss}line{font-family:\00003232}}
.view-service-portfolio .views-field-title a {
  background: #bf0c2c;
  display: block;
  padding: 8px 30px 5px 5px;
  font-family: Arial, sans-serif;
  font-size: 1em;
  line-height: 1em;
  font-weight: 600;
  height: 27px;
  position: absolute;
  color: #FFF;
  text-transform: uppercase;
  z-index: 999;
  width: 200px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/malcolm\/Documents\/Dropbox\/Work\/Ruby\%20Design\/rubydesign\/scss\/_base\.scss}line{font-family:\0000392}}
.view-service-portfolio .views-field-title a:after {
  background-position: 0 -428px;
  content: ' ';
  width: 27px;
  height: 27px;
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/malcolm\/Documents\/Dropbox\/Work\/Ruby\%20Design\/rubydesign\/scss\/rubydesign-alpha-default-narrow\.scss}line{font-family:\00003238}}
.view-service-portfolio .views-field-body {
  width: 550px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/malcolm\/Documents\/Dropbox\/Work\/Ruby\%20Design\/rubydesign\/scss\/rubydesign-alpha-default-narrow\.scss}line{font-family:\00003243}}
.view-node-tags .views-field-name {
  background-color: #ab2039;
  display: block;
  width: 150px;
  height: 34px;
  margin: 0 0 10px;
  padding: 5px 7px;
  border-radius: 5px;
  font-weight: bold;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/malcolm\/Documents\/Dropbox\/Work\/Ruby\%20Design\/rubydesign\/scss\/rubydesign-alpha-default-narrow\.scss}line{font-family:\00003246}}
.view-node-tags .views-field-name a {
  color: #232323;
  padding: 3px 5px 5px 30px;
  height: 24px;
  display: block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/malcolm\/Documents\/Dropbox\/Work\/Ruby\%20Design\/rubydesign\/scss\/rubydesign-alpha-default-narrow\.scss}line{font-family:\00003252}}
.view-node-tags .views-field-name .Drupal {
  background-position: 0 -225px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/malcolm\/Documents\/Dropbox\/Work\/Ruby\%20Design\/rubydesign\/scss\/rubydesign-alpha-default-narrow\.scss}line{font-family:\00003255}}
.view-node-tags .views-field-name .Wordpress {
  background-position: 0 -173px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/malcolm\/Documents\/Dropbox\/Work\/Ruby\%20Design\/rubydesign\/scss\/rubydesign-alpha-default-narrow\.scss}line{font-family:\00003258}}
.view-node-tags .views-field-name .Email-Marketing {
  background-position: 0 -342px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/malcolm\/Documents\/Dropbox\/Work\/Ruby\%20Design\/rubydesign\/scss\/rubydesign-alpha-default-narrow\.scss}line{font-family:\00003261}}
.view-node-tags .views-field-name .Print {
  background-position: 0 -479px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/malcolm\/Documents\/Dropbox\/Work\/Ruby\%20Design\/rubydesign\/scss\/rubydesign-alpha-default-narrow\.scss}line{font-family:\00003264}}
.view-node-tags .views-field-name .Web {
  background-position: 0 -149px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/malcolm\/Documents\/Dropbox\/Work\/Ruby\%20Design\/rubydesign\/scss\/rubydesign-alpha-default-narrow\.scss}line{font-family:\00003269}}
.region-sidebar-first {
  padding: 10px 20px 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/malcolm\/Documents\/Dropbox\/Work\/Ruby\%20Design\/rubydesign\/scss\/rubydesign-alpha-default-narrow\.scss}line{font-family:\00003272}}
.region-sidebar-first h2, .region-sidebar-first h3, .region-sidebar-first .status_date {
  margin-bottom: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/malcolm\/Documents\/Dropbox\/Work\/Ruby\%20Design\/rubydesign\/scss\/rubydesign-alpha-default-narrow\.scss}line{font-family:\00003276}}
.region-sidebar-first h3 {
  display: inline;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/malcolm\/Documents\/Dropbox\/Work\/Ruby\%20Design\/rubydesign\/scss\/rubydesign-alpha-default-narrow\.scss}line{font-family:\00003279}}
.region-sidebar-first .status_date {
  font-size: 80%;
  display: inline;
}

/* form fields */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/malcolm\/Documents\/Dropbox\/Work\/Ruby\%20Design\/rubydesign\/scss\/rubydesign-alpha-default-narrow\.scss}line{font-family:\00003287}}
#browserdetect-browserform .form-submit {
  clear: both;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/malcolm\/Documents\/Dropbox\/Work\/Ruby\%20Design\/rubydesign\/scss\/rubydesign-alpha-default-narrow\.scss}line{font-family:\00003291}}
#browserdetect-browserform .form-type-textfield,
#browserdetect-browserform .form-type-emailfield {
  float: left;
  width: 40%;
  margin-right: 10%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/malcolm\/Documents\/Dropbox\/Work\/Ruby\%20Design\/rubydesign\/scss\/rubydesign-alpha-default-narrow\.scss}line{font-family:\00003296}}
#browserdetect-browserform .form-type-textfield input,
#browserdetect-browserform .form-type-emailfield input {
  width: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/malcolm\/Documents\/Dropbox\/Work\/Ruby\%20Design\/rubydesign\/scss\/rubydesign-alpha-default-narrow\.scss}line{font-family:\00003301}}
#browserdetect-browserform fieldset {
  width: 50%;
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/malcolm\/Documents\/Dropbox\/Work\/Ruby\%20Design\/rubydesign\/scss\/rubydesign-alpha-default-narrow\.scss}line{font-family:\00003304}}
#browserdetect-browserform fieldset#edit-window {
  clear: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/malcolm\/Documents\/Dropbox\/Work\/Ruby\%20Design\/rubydesign\/scss\/rubydesign-alpha-default-narrow\.scss}line{font-family:\00003307}}
#browserdetect-browserform fieldset .form-item {
  width: 30%;
}
