/* This file will hold styles that are loaded using the same media query as the narrow grid. */
/* line 162, transparent/*.png */
.transparent-sprite, .transparent-circlearrow, .transparent-drupal, .transparent-email, .transparent-email24, .transparent-free, .transparent-linkedin, .transparent-logo_twitter, .transparent-next, .transparent-prev, .transparent-print, .transparent-quote-after, .transparent-quote-before, .transparent-ruby, .transparent-twitter-2, .transparent-view-link, .transparent-wordpress, .view-single-case-study .views-field-field-url a:after,
.view-case-studies .views-field-field-url a:after,
.views-field-view-node a:after, div.tweets-pulled-listing a.twitter, .view-service-portfolio .views-field-title a:after {
  background: url('../images/transparent-sf6b4cb912f.png') no-repeat;
}

/* line 60, ../../../../../../../../var/lib/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.transparent-circlearrow {
  background-position: 0 -350px;
}

/* line 60, ../../../../../../../../var/lib/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.transparent-drupal {
  background-position: 0 -201px;
}

/* line 60, ../../../../../../../../var/lib/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.transparent-email {
  background-position: 0 -336px;
}

/* line 60, ../../../../../../../../var/lib/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.transparent-email24 {
  background-position: 0 -318px;
}

/* line 60, ../../../../../../../../var/lib/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.transparent-free {
  background-position: 0 -48px;
}

/* line 60, ../../../../../../../../var/lib/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.transparent-linkedin {
  background-position: 0 0;
}

/* line 60, ../../../../../../../../var/lib/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.transparent-logo_twitter {
  background-position: 0 -173px;
}

/* line 60, ../../../../../../../../var/lib/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.transparent-next {
  background-position: 0 -374px;
}

/* line 60, ../../../../../../../../var/lib/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.transparent-prev {
  background-position: 0 -425px;
}

/* line 60, ../../../../../../../../var/lib/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.transparent-print {
  background-position: 0 -449px;
}

/* line 60, ../../../../../../../../var/lib/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.transparent-quote-after {
  background-position: 0 -272px;
}

/* line 60, ../../../../../../../../var/lib/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.transparent-quote-before {
  background-position: 0 -295px;
}

/* line 60, ../../../../../../../../var/lib/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.transparent-ruby {
  background-position: 0 -225px;
}

/* line 60, ../../../../../../../../var/lib/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.transparent-twitter-2 {
  background-position: 0 -24px;
}

/* line 60, ../../../../../../../../var/lib/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.transparent-view-link {
  background-position: 0 -398px;
}

/* line 60, ../../../../../../../../var/lib/gems/1.8/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.transparent-wordpress {
  background-position: 0 -149px;
}

/* colours */
/* fonts */
/* line 4, ../scss/rubydesign-alpha-default-narrow.scss */
h1 {
  font-size: 2.9em;
}

/* line 8, ../scss/rubydesign-alpha-default-narrow.scss */
h1 span {
  padding-top: 32px;
  line-height: inherit;
  margin-bottom: 40px;
}

/* line 14, ../scss/rubydesign-alpha-default-narrow.scss */
.block-main-menu ul li {
  float: none;
}

/* line 18, ../scss/rubydesign-alpha-default-narrow.scss */
.section-header .zone-header.container-12 .grid-12 {
  width: 720px;
}

/* case study block */
/* line 24, ../scss/rubydesign-alpha-default-narrow.scss */
.block-single-case-study-block-1,
.view-case-studies .left {
  width: 300px;
  float: left;
  background: #000;
  color: #fff;
  margin-left: 0;
  padding-left: 10px;
  padding: 20px;
  position: relative;
}

/* line 28, ../scss/rubydesign-alpha-default-narrow.scss */
.right {
  float: left;
}

/* line 33, ../scss/rubydesign-alpha-default-narrow.scss */
.left, .block-single-case-study-block-1, .block-views-testimonials-block,
.view-case-studies {
  height: 232px;
  position: static;
}

/* line 39, ../scss/rubydesign-alpha-default-narrow.scss */
.view-single-case-study .views-field-field-url a,
.view-case-studies .views-field-field-url a {
  left: 160px;
}

/* line 42, ../scss/rubydesign-alpha-default-narrow.scss */
.right {
  width: 420px;
}

/* line 46, ../scss/rubydesign-alpha-default-narrow.scss */
.right img {
  width: 400px;
  height: 232px;
}

/* line 53, ../scss/rubydesign-alpha-default-narrow.scss */
.view-single-case-study .views-field-field-url a,
.view-case-studies .views-field-field-url a,
.views-field-view-node a {
  width: 130px;
}

/* line 56, ../scss/rubydesign-alpha-default-narrow.scss */
.views-field-field-preview {
  font-family: Arial, sans-serif;
  font-size: 1.6em;
  line-height: 140%;
}

/* links to project and site */
/* line 62, ../scss/rubydesign-alpha-default-narrow.scss */
.view-single-case-study .views-field-title a,
.view-case-studies .views-field-title a {
  font-family: Georgia, serif;
  background: none;
  display: block;
  top: 20px;
  font-size: 1.42em;
  font-family: Georgia, serif;
  font-weight: 700;
  color: #FFF;
  text-transform: uppercase;
}

/* line 68, ../scss/rubydesign-alpha-default-narrow.scss */
.view-single-case-study .views-field-field-url a,
.view-case-studies .views-field-field-url a,
.views-field-view-node a {
  background: #bf0c2c;
  display: block;
  padding: 5px;
  font-family: Arial, sans-serif;
  font-size: 1em;
  font-weight: 600;
  height: 27px;
  position: absolute;
  color: #FFF;
  text-transform: uppercase;
}

/* line 74, ../scss/rubydesign-alpha-default-narrow.scss */
.view-single-case-study .views-field-field-url a:after,
.view-case-studies .views-field-field-url a:after,
.views-field-view-node a:after {
  background-position: 0 -398px;
  content: ' ';
  width: 27px;
  height: 27px;
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
}

/* line 80, ../scss/rubydesign-alpha-default-narrow.scss */
.views-field-view-node a,
.view-single-case-study .views-field-field-url a,
.view-case-studies .views-field-field-url a {
  bottom: 20px;
}

/* twitter */
/* line 85, ../scss/rubydesign-alpha-default-narrow.scss */
.block-block-1 {
  display: block;
}

/* line 88, ../scss/rubydesign-alpha-default-narrow.scss */
div.tweets-pulled-listing a {
  color: #bf0c2c;
}

/* line 92, ../scss/rubydesign-alpha-default-narrow.scss */
div.tweets-pulled-listing a.twitter {
  background-position: 0 -173px;
  width: 150px;
  height: 28px;
  text-indent: -9999px;
  display: block;
  margin-bottom: 20px;
}

/* contact details */
/* line 101, ../scss/rubydesign-alpha-default-narrow.scss */
.block-block-4 {
  margin: 0 0 30px;
}
/* line 104, ../scss/rubydesign-alpha-default-narrow.scss */
.block-block-4 a {
  float: left;
}
/* line 108, ../scss/rubydesign-alpha-default-narrow.scss */
.block-block-4 .social {
  margin-bottom: 0;
}

/* line 113, ../scss/rubydesign-alpha-default-narrow.scss */
.phone {
  float: left;
  margin: 4px 8px;
}

/* line 117, ../scss/rubydesign-alpha-default-narrow.scss */
.mail {
  margin: 4px 8px;
}

/* contact form */
/* line 121, ../scss/rubydesign-alpha-default-narrow.scss */
.block-contact-form-blocks {
  float: left;
  width: 300px;
}
/* line 125, ../scss/rubydesign-alpha-default-narrow.scss */
.block-contact-form-blocks .form-text, .block-contact-form-blocks .form-textarea, .block-contact-form-blocks .grippie {
  width: 260px;
}

/* portfolio */
/* line 131, ../scss/rubydesign-alpha-default-narrow.scss */
.block-views-portfolio-block {
  display: block;
}
/* line 134, ../scss/rubydesign-alpha-default-narrow.scss */
.block-views-portfolio-block .views-row {
  float: left;
  width: 240px;
  min-width: 240px;
}
/* line 139, ../scss/rubydesign-alpha-default-narrow.scss */
.block-views-portfolio-block .img {
  width: 210px;
}
/* line 143, ../scss/rubydesign-alpha-default-narrow.scss */
.block-views-portfolio-block .views-slideshow-cycle-main-frame-row-item.views-row-0 .views-field-field-image-portfolio,
.block-views-portfolio-block .views-slideshow-cycle-main-frame-row-item.views-row-0 .views-field-title a {
  margin-left: 30px;
}
/* line 147, ../scss/rubydesign-alpha-default-narrow.scss */
.block-views-portfolio-block .views-slideshow-cycle-main-frame-row-item.views-row-2 .views-field-field-image-portfolio,
.block-views-portfolio-block .views-slideshow-cycle-main-frame-row-item.views-row-2 .views-field-title a {
  margin-left: 0;
}

/* line 152, ../scss/rubydesign-alpha-default-narrow.scss */
.block-views-portfolio-block-1 {
  display: none;
}

/* line 156, ../scss/rubydesign-alpha-default-narrow.scss */
.page-node-7 .block-main {
  width: 45%;
  float: left;
}

/* line 160, ../scss/rubydesign-alpha-default-narrow.scss */
.page-node-7 h1 {
  width: 55%;
  float: left;
  padding: 10px 0;
}

/* line 168, ../scss/rubydesign-alpha-default-narrow.scss */
.page-portfolio-service h1 {
  margin-left: 20px;
}
/* line 171, ../scss/rubydesign-alpha-default-narrow.scss */
.page-portfolio-service #region-content {
  margin: 0;
  width: 100%;
}

/* line 177, ../scss/rubydesign-alpha-default-narrow.scss */
.view-service-portfolio div {
  float: left;
  clear: right;
}
/* line 181, ../scss/rubydesign-alpha-default-narrow.scss */
.view-service-portfolio .views-row {
  padding: 20px;
}
/* line 184, ../scss/rubydesign-alpha-default-narrow.scss */
.view-service-portfolio .views-row-even {
  background: #e5e5e5;
}
/* line 187, ../scss/rubydesign-alpha-default-narrow.scss */
.view-service-portfolio .views-field-field-image {
  margin: 0 20px 20px;
}
/* line 191, ../scss/rubydesign-alpha-default-narrow.scss */
.view-service-portfolio .views-field-title {
  height: 40px;
  width: 400px;
}
/* line 195, ../scss/rubydesign-alpha-default-narrow.scss */
.view-service-portfolio .views-field-title a {
  background: #bf0c2c;
  display: block;
  padding: 5px;
  font-family: Arial, sans-serif;
  font-size: 1em;
  font-weight: 600;
  height: 27px;
  position: absolute;
  color: #FFF;
  text-transform: uppercase;
  width: 200px;
}
/* line 199, ../scss/rubydesign-alpha-default-narrow.scss */
.view-service-portfolio .views-field-title a:after {
  background-position: 0 -398px;
  content: ' ';
  width: 27px;
  height: 27px;
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
}
/* line 202, ../scss/rubydesign-alpha-default-narrow.scss */
.view-service-portfolio .views-field-body {
  width: 600px;
}
