/* This file will hold styles that are loaded using the same media query as the normal grid. */
/* line 123, transparent */
.transparent-sprite, .transparent-circlearrow, .transparent-drupal, .transparent-email, .transparent-email24, .transparent-free, .transparent-linkedin, .transparent-logo_twitter, .transparent-next, .transparent-prev, .transparent-print, .transparent-quote-after, .transparent-quote-before, .transparent-ruby, .transparent-twitter-2, .transparent-view-link, .transparent-web, .transparent-wordpress {
  background: url('/images/transparent-s240e7c5b0c.png') no-repeat;
}

/* line 60, ../../../../../../../../Program Files (x86)/Scout/vendor/gems/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.transparent-circlearrow {
  background-position: 0 0;
}

/* line 60, ../../../../../../../../Program Files (x86)/Scout/vendor/gems/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.transparent-drupal {
  background-position: 0 -24px;
}

/* line 60, ../../../../../../../../Program Files (x86)/Scout/vendor/gems/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.transparent-email {
  background-position: 0 -48px;
}

/* line 60, ../../../../../../../../Program Files (x86)/Scout/vendor/gems/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.transparent-email24 {
  background-position: 0 -62px;
}

/* line 60, ../../../../../../../../Program Files (x86)/Scout/vendor/gems/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.transparent-free {
  background-position: 0 -86px;
}

/* line 60, ../../../../../../../../Program Files (x86)/Scout/vendor/gems/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.transparent-linkedin {
  background-position: 0 -187px;
}

/* line 60, ../../../../../../../../Program Files (x86)/Scout/vendor/gems/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.transparent-logo_twitter {
  background-position: 0 -211px;
}

/* line 60, ../../../../../../../../Program Files (x86)/Scout/vendor/gems/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.transparent-next {
  background-position: 0 -239px;
}

/* line 60, ../../../../../../../../Program Files (x86)/Scout/vendor/gems/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.transparent-prev {
  background-position: 0 -263px;
}

/* line 60, ../../../../../../../../Program Files (x86)/Scout/vendor/gems/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.transparent-print {
  background-position: 0 -287px;
}

/* line 60, ../../../../../../../../Program Files (x86)/Scout/vendor/gems/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.transparent-quote-after {
  background-position: 0 -311px;
}

/* line 60, ../../../../../../../../Program Files (x86)/Scout/vendor/gems/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.transparent-quote-before {
  background-position: 0 -334px;
}

/* line 60, ../../../../../../../../Program Files (x86)/Scout/vendor/gems/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.transparent-ruby {
  background-position: 0 -357px;
}

/* line 60, ../../../../../../../../Program Files (x86)/Scout/vendor/gems/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.transparent-twitter-2 {
  background-position: 0 -404px;
}

/* line 60, ../../../../../../../../Program Files (x86)/Scout/vendor/gems/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.transparent-view-link {
  background-position: 0 -428px;
}

/* line 60, ../../../../../../../../Program Files (x86)/Scout/vendor/gems/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.transparent-web {
  background-position: 0 -455px;
}

/* line 60, ../../../../../../../../Program Files (x86)/Scout/vendor/gems/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.transparent-wordpress {
  background-position: 0 -479px;
}

/* colours */
/* fonts */
/* line 9, ../scss/rubydesign-alpha-default-normal.scss */
.section-header .zone-header.container-12 .grid-12 {
  width: 960px;
}

/* line 14, ../scss/rubydesign-alpha-default-normal.scss */
.block-single-case-study-block,
.view-case-studies .right {
  float: left;
  width: 660px;
}

/* line 19, ../scss/rubydesign-alpha-default-normal.scss */
.block-views-node-images-block-1,
.block-views-node-images-block {
  float: left;
  width: 660px;
}

/* line 23, ../scss/rubydesign-alpha-default-normal.scss */
.right img {
  width: auto;
  height: auto;
}

/* line 28, ../scss/rubydesign-alpha-default-normal.scss */
#region-content .grid-half {
  margin-left: 0;
  margin-right: 20px;
  width: 290px;
  float: left;
}

/* line 36, ../scss/rubydesign-alpha-default-normal.scss */
.left, .block-single-case-study-block-1, .block-views-testimonials-block,
.view-case-studies {
  height: 378px;
}

/* line 42, ../scss/rubydesign-alpha-default-normal.scss */
.view-single-case-study .views-field-field-url a,
.view-case-studies .views-field-field-url a,
.views-field-view-node a {
  width: 150px;
  left: 20px;
}

/* line 46, ../scss/rubydesign-alpha-default-normal.scss */
.views-field-view-node a {
  bottom: 60px;
  left: 20px;
}

/* line 51, ../scss/rubydesign-alpha-default-normal.scss */
.views-field-field-preview {
  margin: 30px 0;
}

/* line 58, ../scss/rubydesign-alpha-default-normal.scss */
.view-portfolio .views-row {
  width: 320px;
}
/* line 61, ../scss/rubydesign-alpha-default-normal.scss */
.view-portfolio img {
  width: 290px;
  height: 178px;
}

/* line 67, ../scss/rubydesign-alpha-default-normal.scss */
.branding-data img {
  width: auto;
  margin: 0;
}

/* line 72, ../scss/rubydesign-alpha-default-normal.scss */
.view-testimonials .views-field-body .field-content {
  font-size: 1.6em;
}
