@import 'compass';
@import "compass/utilities/sprites";

@import "transparent/*.png";
@include all-transparent-sprites;

/* colours */
$light_grey : #666;
$dark_grey : #232323;
$red : #BF0C2C;
$pale_grey : #E5E5E5;

$hover : lighten($red, 20%);

/* fonts */
$serif : Georgia, serif;
$sanserif : Arial,sans-serif;

@mixin invisible {
  text-indent: -9999px;
  display: block;
}

@mixin leftside {
  width: 300px;
  float: left;
  background: #000;
  color: #fff;
  margin-left: 0;
  padding-left: 10px;
  padding: 20px; 
  position: relative;
}

@mixin white20pt {
  font-family: $sanserif;
  font-size: 1.2em;
  line-height: 140%;
}

@mixin largeWhiteSerif {
  font-family: $serif;
  background: none;
  display: block;
  top: 20px;
  font-size: 1.42em;
  line-height: 1em;
  font-family: $serif;
  font-weight: 700;
  color: #FFF;
  padding: 0;
  position: static;
  top: 0;
  left: 0;
  text-transform: uppercase;
  &:after {
    content: '';
    background: none;
    display: inline;
  }
}

@mixin linkafter {
  @include transparent-sprite(view-link);
  content: ' ';
  width: 27px;
  height: 27px;
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
}

@mixin circle {
  @include transparent-sprite(circlearrow);
  height: 24px;
  width: 24px;  
}

@mixin linkred {
  background: $red;
  display: block;
  padding: 8px 27px 5px 5px;
  font-family: $sanserif;
  font-size: 1em;
  line-height: 1em;
  font-weight: 600;
  height: 27px;
  position: absolute;
  color: #FFF;
  text-transform: uppercase;  
  z-index: 999;
  &:after {
    @include linkafter;
  }
}


@mixin taxonomyTerms {
  background-color: $red;
  display: block;
  width: 160px;
  height: 34px;
  margin: 0 0 10px;
  padding: 5px 7px;
  border-radius: 5px;
  font-weight: bold;
}