@import "base";

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body {
  background: $pale_grey;
  font-family: $sanserif;
}

h1, h2, h3, h4, h5, h6 {
  color: $red;
  font-family: $sanserif;
}

h1 {
  line-height: 110%;
  font-weight: 400;
  text-transform: uppercase;
  width: 100%;
  display: block;
  span {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 10px;
  }
}

h2 {
  font-size: 1.6em;
}

h3 {
  font-size: 1.3em;
}

a, a:link, a:visited {
  color: $red;
  text-decoration: none;
  &:hover, &:active, &:focus {
    color: $hover;
  }
}

#zone-header-wrapper {
  background: $light_grey;
}
#zone-branding {
  background: #FFF;
}
#zone-header {
  background: $dark_grey;
}

.zone-content {
  background: #FFF;
}


#region-sidebar-first, #region-header-first {
  margin-left: 0;
  margin-right: 0;
}

.node-page {
  background: #FFF;
}

.branding-data {
  margin-top: 20px;
  float: left;
}


/* menus */
.block-main-menu {
  float: right;
}

.block-main-menu ul li, #block-menu-menu-secondary-navigation ul li {
  list-style: none;
  margin-left: 1.5em;
  float: left;
  &.first {
    margin-left: 0;
  }
  &.leaf, &.expanded, &.collapsed {
    padding: 0;
  }
}

.block-main-menu ul li a {
  color: #000;
  text-transform: uppercase;
  font: 1.45em $sanserif;
}

.block-main-menu ul li .active,
.block-main-menu ul li.active-trail a {
  color: $red;
  &:hover, &:active, &:focus {
    color: $hover;
  }
}

#block-menu-menu-secondary-navigation {
  float: right;
}
#block-menu-menu-secondary-navigation a {
  color: #000;
  
  &.active-trail {
    color: $red;  
  }
  &:hover, &:active, &:focus {
    color: $hover;
  }  
}

.block-views-testimonials-block {
  @include leftside;
}

/* home page slideshow */
.view-case-studies {
  position: relative;
}

.left {
  position: absolute;
  height: 186px;
  width: 320px;
}

.views_slideshow_cycle_teaser_section {
  margin: 0 auto;
}

.view-single-case-study .views-field-field-url a, 
.view-case-studies .views-field-title a {
  @include linkred;
  bottom: 20px;
  left: 20px;
  width: auto;
  &:hover {
    color: #fff;
  }  
}


.right img {
  width: 320px;
  height: 186px;
}

.view-single-case-study .views-field-title a.tabledrag-handle,
.view-single-case-study .draggable .views-field-title .draggable a.tabledrag-handle,
.view-case-studies .views-field-title a.tabledrag-handle,
.view-case-studies .draggable .views-field-title .draggable a.tabledrag-handle {
  position: static;
}

.view-portfolio {
  position: relative;
  .views-row {
    min-width: 320px;
  }
  
  img {
    display: block;
    margin: 0 auto;
    width: 260px;
    height: 153px;
  }
  
  .views-field-title {
    width: 100%;
    background: $pale_grey;
    position: relative;
  }
  .views-field-title a {
    color: #000;
    font-size: 1.6em;
    line-height: 250%;
    padding: 5px 0;
    margin-left: 30px;
    display: block;
  }
  .views-field-title a:after {
    @include circle;
    content: " ";
    display: inline-block;
    position: absolute;
    top: 14px;
    margin-left: 10px;
  }
  .views-field-field-image-portfolio {
    margin: 10px 0;
  }
  
  #views-form-portfolio-attachment-1 a:after {
    background: none;
  }
}
.views-slideshow-controls-text-previous, 
.views-slideshow-controls-text-next {
  display: block;
  width: 13px;
  height: 24px;
  @include invisible;
  position: absolute;
  top: 83px;
  z-index: 99;
}
.views-slideshow-controls-text-previous {
  @include transparent-sprite(prev);
  left: 5px;
}
.views-slideshow-controls-text-next {
  @include transparent-sprite(next);
  right: 5px;
}
.views-slideshow-controls-text-pause {
  display: none;
}
.page-node-7 {
  #zone-header {
    background: #FFF;
  }
  
  .zone-content .region-content {
    /*    margin: 20px 0;*/
    padding: 10px 0;
    width: 100%;
  }
  
  h1 {
    margin: 0;
    padding: 0;
    
    span {
      padding-top: 0;
    }
    
    .design {
      color: #000;
    }
  }
}
/* testimonials */
.view-testimonials {
  a {
    color: #FFF;
  }
  
  .views-field-body {
    margin-bottom: 10px;
    .field-content {
      display: inline;
      font-family: $sanserif;
      font-size: 1.2em;
      line-height: 1.2em;      
    }
    
    &:before,
    &:after {
      content: ' ';
      display: inline-block;
      width: 48px;
      height: 23px;
    }
    &:before {
      @include transparent-sprite(quote-before);
    }
    &:after {
      @include transparent-sprite(quote-after);
      vertical-align: bottom;
    }
  }
}

.zone-postscript-wrapper {
  margin-bottom: 20px;
}

.logo-img {
  
  margin-right: 0;
  img {
    width: 140px;
  }
}
/* mobile menu */
.mnav {
  width: 100%;
}

/* contact details */
.block-block-4 {
  float: right;
  margin-top: 20px;
  
  .phone {
    display: block;
    text-align: right;
  }
  
  .email {
    margin-top: 4px;
  }
  .social {
    @include invisible;
    margin-bottom: 20px;    
    width: 24px;
    height: 24px;
    margin-left: 4px;
  }
  .twitter {
    @include transparent-sprite(twitter-2);
    float: right;
  }
  .linkedin {
    @include transparent-sprite(linkedin);
    float: right;
  }
}

.view-node-images,
.region-sidebar-first, 
.block-testimonials-block,
.block-views-portfolio-block, /* portfolio slideshow */
.views-field-field-preview,
.view-single-case-study .views-field-title a, 
.view-case-studies .views-field-field-url a, 
.views-field-view-node a, 
.free-web-check,
.block-block-1, /* twitter */
.view-node-tags /* case study tags */ {
  display: none;
}

/* modal form */
div.modal-forms-modal-content .modal-title {
  color: $red;
}

form {
  margin-bottom: 30px;
}

.views-field-field-preview p {
  margin-bottom: 0;
}