/* This file will hold styles that are loaded using the same media query as the narrow grid. */
@import "base";

/* hidden elements on mobile */
.region-sidebar-first, 
.view-node-images,
.block-testimonials-block,
.block-views-portfolio-block, /* portfolio slideshow */
.views-field-field-preview,
.view-single-case-study .views-field-title a, 
.view-case-studies .views-field-field-url a, 
.views-field-view-node a, 
.block-block-1, /* twitter */
.view-node-tags /* case study tags */ {
  display: block;
}

.free-web-check {
  @include transparent-sprite(free);
  width: 99px;
  height: 101px;
  float: left;
  @include invisible;
  margin: -8px 15px 0 0;
  display: inline-block;
}

h1 {
  font-size: 2.9em;
  padding-top: 12px;
  margin-top: 10px;
  
  span {
    line-height: inherit;
    margin-bottom: 40px;
  }
}

.block-main {
  clear: left;
}

.divider {
  background: url(../images/dividerstripe.png) no-repeat;
  height: 32px;
}

.zone-branding .region-branding.grid-12 {
  padding: 10px 20px;
  margin: 0;
  width: 100%;
}
.branding-data {
  margin-top: 0;
  .logo-img {
    margin: 0;
  }
  img {
    width: auto;
    margin: 10px 0 0;
  }
}
.block-main-menu ul li {
  float: left;
}

.section-header .zone-header.container-12 .grid-12 {
  width: 720px;
}

/* case study block */
.block-single-case-study-block-1,
.block-views-testimonials-block,
.view-case-studies .left {
  @include leftside;  
}

.left,
.block-single-case-study-block-1,
.block-views-testimonials-block,
.view-case-studies {
  height: 232px;
  position: static;
}



.view-case-studies .views-field-field-url a {
  left: 160px;
}
.right {
  float: left;
  width: 420px;
  img {
    width: 420px;
    height: 232px;
  }
}

.view-single-case-study .views-field-field-url a, 
.view-case-studies .views-field-field-url a, 
.views-field-view-node a {
  width: 130px;
}
.views-field-field-preview {
  @include white20pt;
}

/* links to project and site */
.view-single-case-study .views-field-title a, 
.view-case-studies .views-field-title a {
  @include largeWhiteSerif;
  width: 280px;
}

.view-single-case-study .views-field-field-url a, 
.view-case-studies .views-field-field-url a, 
.views-field-view-node a {
  @include linkred;
  bottom: 20px;
}

div.tweets-pulled-listing a{
  color: $red;
  &.twitter {
    @include transparent-sprite(logo_twitter);
    width: 150px;
    height: 28px;
    @include invisible;
    margin-bottom: 20px;
  }
}
/* contact details */
.block-block-4 {
  margin: 0 0 10px;
  
  a {
    float: left;
  }
  .social {
    margin-bottom: 0;
  }
}
.phone {
  float: left;
  margin: 4px 8px;
}
.mail {
  margin: 4px 8px;
}
/* contact form */
.page-node-29 {
  .block-main,.block-contact-form-blocks {
    float: left;
    width: 300px;
  }
}

.block-contact-form-blocks {
  
  
  .form-text, .form-textarea, .grippie {
    width: 260px;
  }
}

/* portfolio page*/
.page-node-7 {
  .block-main {
    width: 45%;
    float: left;    
    clear: none;
  }
  h1 {
    width: 55%;
    float: left;
    padding: 10px 0;
    span {
      display: inline;
    }
  }
  .zone-content .region-content {
    /*    margin: 20px 0;*/
    padding: 20px 20px 0;
  }
  
  .divider.bottom {
    margin-top: 10px;
  }
}

.view-portfolio {
  
  .views-row {
    float: left;
    width: 240px;
    min-width: 240px;
  }
  img {
    width: 210px;
    height: 124px;
  }
  .views-field-field-image-portfolio {
    margin: 10px 0;
  }
  .views-field-title a {
    margin-left: 15px;
    font-size: 1.1em;
    font-weight: bold;
        &:after {
          top: 10px;
        }
  }
  
  .views-slideshow-cycle-main-frame-row-item.views-row-0 {
    .views-field-field-image-portfolio {
      margin-left: 30px;
    }
    .views-field-title a {
      margin-left: 30px;
    } 
  }
  .views-slideshow-cycle-main-frame-row-item.views-row-2 {
    .views-field-field-image-portfolio {
      margin-left: 0;
    }
    img, 
    .views-field-title a {
      margin-left: 0;
    }  
  }
}

.block-views-portfolio-block-1 {
  display: none;
}

/* individual service portfolios */
.page-portfolio-service {
  h1 {
    margin-left: 20px;
  }
  #region-content {
    margin: 0;
    width: 100%;
  }
}

.view-service-portfolio > .view-header {
  padding: 20px 20px 0;
}
.view-service-portfolio > .view-content {
  div {
    float: left;
  }
  .views-row {
    padding: 0 20px 20px;
    width: 50%;
  }
  .views-row-odd {
    clear: left;
  }
  
  img {
    margin: 0 20px 20px 0;
  }
  
  .views-field-title {
    height: 40px;
    width: 100%;
    a {
      @include linkred;
      position: relative;
      width: 100%;
    }   
  }
  .views-field-field-preview {
    margin-top: 0;
  }
}

/* home page */
.page-node-4 h1 {
  margin-top: 30px;
  .free-web-check {
    margin-top: -14px;
    margin-bottom: 10px;
  }
  span {
    display: inline;
  }
}

.view-node-tags .views-field-name {
  @include taxonomyTerms;
  
  a {
    color: $dark_grey;
    padding: 3px 5px 5px 30px;
    height: 24px;
    display: block;
  }
  .Drupal {
    @include transparent-sprite(drupal);
  }
  .Wordpress {
    @include transparent-sprite(wordpress);
  }
  .Email-Marketing {
    @include transparent-sprite(email);
  }
  .Print  {
    @include transparent-sprite(print);
  }
  .Web {
    @include transparent-sprite(web);  
  }
}

.region-sidebar-first {
  padding: 10px 20px 10px;
  
  h2, h3, .status_date {
    margin-bottom: 0;
  }
  
  h3 {
    display: inline;
  }
  .status_date {
    font-size: 80%;
    display: inline;
  }
}

/* form fields */
#browserdetect-browserform {
  .form-submit {
    clear: both;
  }
  .form-type-textfield,
  .form-type-emailfield {
    float: left;
    width: 40%;
    margin-right: 10%;
    
    input {
      width: 100%;
    }
  }
  
  fieldset {
    width: 50%;
    float: left;
    &#edit-window {
      clear: left;
    }
    .form-item {
      width: 30%;
    }
  }
}
